ticker {
  display: block;
  width: 840px;
  height: 420px;
  background-color: #2f7f27;
  padding: 0.8em;
}

ticker .content {
  display: block;
  width: 96.5%;
  height: 92.5%;
  background-color: #ffffff;
  border: 1em solid;
  border-radius: 6px;
  border-color: #ffffff;
}

ticker match span, ticker match a {
  display: table;
  text-align: center;
  margin: 15px auto;
}

ticker match {
  display: inline-block;
  width: 69%;
}

ticker .match-item {
  display: table;
  width: 40%;
  height: 80%;
  padding: 5px 0;
  margin: 0px 0 10px 0;
  float: left;
  background-color: #222222;
}

ticker .match-item .match-score {
  color: #fec800;
  font-size: 22px;
}

ticker .match-item .match-name {
  color: #ffffff;
  font-size: 16px; 
}

ticker .match-item img.match-sport {
  display: inline-block;
  vertical-align: middle;
}

ticker .match-item .match-time {
	color: #999999;
}

ticker .match-item .place-bet {
	color: white;
  text-decoration: none;
  background-color: #3aaa35;
  padding: 5px 20px;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

ticker content h1 {
  font-size: 18px;
  font-weight: bold;
}

ticker aside h2 {
  font-size: 16px;
  font-weight: bold;
}

.slick-slider {
  display: inline-block;
}
