<div class="content">
	<h1>Live matches</h1>
	<p class="preamble">
	  Here is a list of matches that are live right now.
	</p>

	<div class="match">
		<div class="match-item" ng-repeat="play in plays">
		  <span class="match-score">{{play.score}}</span>
		  <span class="match-name">{{play.name}}</span>
		  <span class="match-time">{{play.startTime}}</span>
		  <a class="place-bet" href="{{betLinkFormat}}/{{play.eventId}}">Place a bet</a>
		</div>
	</div>
	
	<aside>
	  <h2>Live betting</h2>
	  <p>Place your bets as the action unfolds. We offer a wide selection of live betting events and you can place both single and combination bets.</p>
	  <p>You will be able to see an in-play scoreboard with the current result and match stats, while on selected events you will also be able to watch the action live with Unibet TV on the desktop site.</p>
	</aside>
</div>
